<h2>Login page</h2>
<p>Use login / ok</p>

<form {{action 'authenticate' on='submit'}}>
  {{input id='identification' placeholder='Enter Login' value=identification}}
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
</form>
