<div class="ui top attached menu rt-main-menu">
  {{#link-to 'races' class="item"}}
    <i class="wrench icon"></i>
    <div>
      Races
    </div>
  {{/link-to}}
  {{#link-to 'venues' class="item"}}
    <i class="wrench icon"></i>
    <div>
      Venues
    </div>
  {{/link-to}}
  {{#link-to 'sponsors' class="item"}}
    <i class="wrench icon"></i>
    <div>
      Sponsors
    </div>
  {{/link-to}}
</div>

