<div class="ui segment">
  <div class="ui item">
    {{photo/photo-list photos=model.photos sponsorOptions=model.sponsorOptions savePhoto="savePhoto"
      deletePhoto="deletePhoto" refreshRoute="refreshRoute"}}
  </div>
  {{outlet}}
</div>
