<table class='rt-race-list'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |race|}}
    <tr class='rt-race-row'>
      <td class='rt-race-title'>{{race.name}}</td>
      <td class='rt-race-date'>{{moment-format race.date 'MMM Do YYYY'}}</td>
      <td class='rt-race-edit'>{{link-to "Edit" "races.edit" race.id}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

