<div class="ui segment">
  <div class="ui item">
    {{#link-to 'campaigns.new' class='rt-campaign-new ui green button'}}New Campaign{{/link-to}}
  </div>
  <div class="ui divider"></div>
  <div class="ui item">
    {{campaign/campaign-list model=model}}
  </div>
  {{outlet}}
</div>
