<div class="ui segment">
  <div class="ui item">
    {{#link-to 'races.new' class='rt-races-new ui green button'}}Create Race{{/link-to}}
  </div>
  <div class="ui divider"></div>
  <div class="ui item">
    {{race/race-list raceList=model}}
  </div>
  {{outlet}}
</div>
